:root {
  --shape-bg: #DCA8B6;
  --border: #959AB2;
}

.preview__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 3em;
}

.form {
  width: 100%;
}

.form__input,
.form__label {
  display: block;
}

.form__label {
  font-size: 1rem;
  font-weight: 700;
}

.form__input {
  width: 100%;
  background: white;
  border-radius: 4px;
  padding: 0.25em;
  margin-right: 0.5em;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

.form__fieldset {
  margin: 0;
  padding: 0.25em;
  display: grid;
  grid-template-columns: 1fr 40%;
  border: 1px solid var(--border);
}

.form__fieldset + .form__fieldset {
  margin-top: 1em;
}

legend {
  font-size: 1rem;
  grid-column: 1/ span 2;
  display: block;
  padding: 0 0.25em;
}

.form__fieldblock {
  grid-column: span 1;
}

.form__fieldblock + .form__fieldblock {
  margin-left: 0.5em;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview__object {
  display: block;
  height: 15em;
  width: 15em;
  background: var(--shape-bg);
}
