
.preview__wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
}

.preview__config {
  margin: 2em 0;
  text-align: center;
}

.preview__start-btn {
  background: var(--color-blue);
  border: 1px solid var(--color-blue-dark);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.25em 0.5em;
}

.light__wrapper {
  position: relative;
  width: 3em;
}

.light {
  display: inline-block;
  height: 3em;
  width: 3em;
  border: none;
  border-radius: 50%;
}

/* HexColorPicker */
.light__picker {
  position: absolute !important;
  left: 50%;
  top: 105%;
  transform: translateX(-50%);
}
